
.NavBar{
    align-items: center;
    justify-content: center;

};
.navbar{
    background: #aa2222;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}














