
a{
text-decoration: none;
}
.navbar{
    align-items: center;
    justify-content: center;
    background: #aa2222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}














